{% load staticfiles %}

<!DOCTYPE html>
<!--[if lt IE 7]><html lang="ru" class="lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html lang="ru" class="lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html lang="ru" class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<!--<![endif]-->

<html lang="en">
{% load profile %}
<head>
    <meta charset="utf-8"/>

    <title>{% block title %}{% endblock %}</title>

    <meta name="description" content=""/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">

    <link rel="stylesheet" href="{% static 'libs/bootstrap/bootstrap-grid-3.3.1.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'libs/font-awesome-4.7.0/css/font-awesome.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'libs/font-awesome-5.0.8/css/fontawesome.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/second/fonts.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/second/main.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/second/media.css' %}"/>

</head>
<body>

<div class="bg"></div>
<div class="bg_bottom_line"></div>

{% if request.path != '/second/' %}

    <div class="logo_parag_content">
        <div class="logo_parag_img">
            <img src="{% static 'images/puzzles.png' %}" alt="">
        </div>
        <div class="logo_parag_text">
            {% block parag %}
            {% endblock %}
        </div>
    </div>

{% endif %}

<div class="menu_content">
    <div class="menu_button_show"><i class="fa fa-chevron-up"></i></div>
    <div class="main_menu">
        <div class="main_menu_bg"></div>
        <div class="menu_button_hide">
            <div class="hide_first"></div>
            <div class="hide_second"></div>
        </div>
        <div class="menu_info_datebase">
            <div class="menu_text_logo"><a href="{% url 'sec_database' %}">research infrastuctures datebase</a></div>
            <div class="menu_text_info">
                <p>Initiative of the BSEC Working Group</p>
                <p>on Cooperation in Science & Techonology</p>
            </div>
        </div>
        <ul>
            <li><a href="{% url 'sec_search' %}">Search</a></li>
            <li><a href="{% url 'sec_questionnaire' %}">Qustionaire</a></li>
            <li><a href="{% url 'sec_about' %}">About</a></li>
            <li class="menu_li_sign"><a href="{% url 'sec_signin' %}">Sign in</a></li>
        </ul>
    </div>
</div>

{% block content %}

{% endblock %}

<script src="https://maps.googleapis.com/maps/api/js"></script>

<script src="{% static 'libs/jquery/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'js/second/common.js' %}"></script>
<script src="{% static 'js/second/map.js' %}"></script>

</body>
</html>