<!DOCTYPE html>

{% extends 'second/base.html' %}

<html lang="ru">

<head>
    {% block title %}Questionnaire{% endblock %}
</head>

<body>

{% block content %}

    {% block parag %}Questionnaire{% endblock %}

    <div class="quest_content">
        <div class="quest_block">
            <div class="quest_text">
                To add your organization to the database of national innovation related structures you have to fill the
                following form
            </div>
            <div class="quest_block_inputs">
                <div class="quest_req_text">*all fields are required</div>
            </div>
        </div>
    </div>

{% endblock %}

</body>
</html>