<!DOCTYPE html>

{% extends 'second/base.html' %}

{% load staticfiles %}

<html lang="ru">

<head>
    {% block title %}Questionnaire{% endblock %}
</head>

<body>

{% block parag %}Questionnaire{% endblock %}

{% block content %}

    <div class="quest_content">
        <div class="quest_block">
            <div class="quest_text">
                To add your organization to the database of national innovation related structures you have to fill the
                following form
            </div>
            <div class="quest_block_inputs">
                <div class="quest_req_text">*all fields are required</div>

                {# если модератор #}

                {#                <form class="quest_form_cr">#}
                {#                    <input type="text" class="quest_cr_name" placeholder="Input question">#}
                {#                    <input type="submit" class="quest_create_quest" value="create">#}
                {#                </form>#}
                {#                <div class="quest_form_cr_line"></div>#}

                {# если модератор - end #}

                <form class="quest_form_quest" name="ques_f_quest" action="." method="POST">
                    {% csrf_token %}
                    {# для вопросов в БД #}
                    <div class="parrent">
                        {% for question in questions %}
                            <div class="quest_input_bl">
                                <input class="quest_input" type="text" placeholder="{{ question.question }}"
                                       maxlength="32"
                                       name="{{ question.name }}">
                                {% if user.username == 'moderator' %}
                                    <div class="quest_remove_inp">
                                        <div class="quest_icon_rem" data-tooltip="Remove input">
                                            <i class="fa fa-times"
                                               onclick="hide_input('{{ question.name }}')"></i>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>


                    {# если модератор #}


                    {# если модератор - end #}


                    {# для вопросов в БД - end #}

                    <input class="quest_form_quest_butt" type="submit" value="send inquiry">
                </form>

            </div>
        </div>
    </div>
    <script src="{% static 'js/second/helpers.js' %}"></script>
{% endblock %}

</body>
</html>