<!DOCTYPE html>

{% extends 'second/base.html' %}

{% load staticfiles %}

<html lang="ru">

<head>
    {% block title %}Questionnaire{% endblock %}
</head>

<body>

{% block parag %}Questionnaire{% endblock %}

{% block content %}

    <div class="quest_content">
        <div class="quest_block">
            <div class="quest_text">
                To add your organization to the database of national innovation related structures you have to fill the
                following form
            </div>
            <div class="quest_block_inputs">
                <div class="quest_req_text">*all fields are required</div>

                {# если модератор #}

                <form class="quest_form_cr">
                    <input type="text" class="quest_cr_name" placeholder="Input question">
                    <input type="submit" class="quest_create_quest" value="create">
                </form>
                <div class="quest_form_cr_line"></div>

                {# если модератор - end #}

                <form class="quest_form_quest" name="ques_f_quest">
                    <div class="quest_input_bl">
                        <input class="quest_input" type="text" placeholder="Country">

                        {# если модератор #}

                        <div class="quest_remove_inp">
                            <div class="quest_icon_rem" data-tooltip="Remove input">
                                <i class="fa fa-times"></i>
                            </div>
                        </div>

                        {# если модератор - end #}

                    </div>
                    <input class="quest_form_quest_butt" type="submit" value="send inquiry">
                </form>

            </div>
        </div>
    </div>

{% endblock %}

</body>
</html>