.container_profile {
    position: absolute;
    top: 30px;
    right: 20px;
    z-index: 5000;
    font-size: 26px;
    color: #7F7F7F;
    min-width: 250px;
}

.name_profile {
    margin-right: 60px;
}

.icon_profile {
    position: absolute;
    top: -30px;
    right: 15px;
    font-size: 50px;
    color: #00BDE2;
}

.menu_profile li a {
    color: #7F7F7F;
    transition: all .5s ease;
    -o-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
}

.menu_profile li a:hover {
    color: #2F6E90;
}

.profile_up_line {
    height: 5px;
    width: 100%;
    background-color: #00BDE2;
}

ul.submenu_profile {
    display: none;
}

ul.submenu > li > a {
    display: block;
}

ul.menu_profile > li:hover > ul.submenu_profile {
    display: block;
}

.submenu_profile li a {
    display: block;
    color: #7F7F7F;
    padding: 5px 0;
    background-color: #ffffff;
    text-align: center;
    transition: all .5s ease;
    -o-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
}

.submenu_profile li a:hover {
    background-color: #f4f4f4;
    color: #00BDE2;
}

/* ---> Block Activate Profile <---*/

.block_activate_profile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 12000;
}

.bg_activprof {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #8A8A8A;
    opacity: 0.9;
    z-index: 12005;
}

.icon_activprof {
    position: relative;
    margin-top: 150px;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 12010;
}

.text_activprof {
    position: relative;
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 28px;
    color: #ffffff;
    z-index: 12010;
    text-transform: uppercase;
}

.text_act_activprof {
    color: #3F76A9;
}

.text_activprof p{
    margin-bottom: 20px;
}

.text_quick_link {
    position: relative;
    margin-top: 40px;
    float: left;
    color: #ffffff;
    font-size: 28px;
    z-index: 12010;
    text-transform: uppercase;
}

.icons_mail {
    position: relative;
    left: 50%;
    width: 780px;
    margin-left: -390px;
    text-align: center;
    z-index: 12010;
}

.icons_mail img {
    margin: 10px 10px 0 10px;
    height: 100px;
}

.button_close_activprof {
    position: relative;
    left: 50%;
    width: 250px;
    height: 60px;
    margin-top: 150px;
    margin-left: -125px;
    padding-top: 10px;
    background-color: #3F76A9;
    color: #ffffff;
    text-align: center;
    font-size: 28px;
    z-index: 12010;
    cursor: pointer;
    transition: all .5s ease;
    -o-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
}

.button_close_activprof:hover {
    color: #3F76A9;
    background-color: #ffffff;
}

/* ---> Block Activate Profile end <---*/

/* ---> Block Congratulation <---*/

.block_congratulation {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    z-index: 10005;
}

.bg_congrat {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #8A8A8A;
    opacity: 0.9;
    z-index: 10010;
}

.icon_congrat {
    position: relative;
    top: 150px;
    left: 50%;
    width: 190px;
    height: 190px;
    margin-left: -95px;
    border-radius: 200px;
    font-size: 200px;
    background-color: #ffffff;
    color: #3F76A9;
    z-index: 10020;
}

.icon_congrat i {
    position: absolute;
    top: -5px;
    left: 10px;
}

.text_congrat {
    position: relative;
    top: 200px;
    text-align: center;
    font-size: 28px;
    color: white;
    z-index: 10020;
}

.active_text_congrat {
    color: #3F76A9;
    margin-bottom: 20px;
}

.button_congrat {
    position: relative;
    left: 50%;
    width: 300px;
    height: 60px;
    margin-top: 350px;
    margin-left: -150px;
    padding-top: 10px;
    background-color: #3F76A9;
    color: #ffffff;
    text-align: center;
    font-size: 28px;
    z-index: 11010;
    cursor: pointer;
    transition: all .5s ease;
    -o-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
}

.button_congrat:hover {
    color: #3F76A9;
    background-color: #ffffff;
}

/* ---> Block Congratulation end <---*/