 <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
            <meta name="author" content="" />
    <meta name="keywords" content="" />
    <meta name="description" content="">
    <meta name='viewport' content='width=device-width, maximum-scale=1' />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title> BSEC Digital Initiatives.Beta </title>
                       
        <style type="text/css">
body{background:#f2f2f2; font-family: "Roboto light";}
#wrapper {width: 400px; height: 100px; position: absolute; top:0; bottom: 0; left: 0; right: 0; margin: auto;}
#line {width: 60px; height: 5px; background: #2483c7; margin-left:auto; margin-right:auto; margin-bottom:-10px; }
.headerText{color:#2483c7; font-size:28px; text-align: center;}
.bodyText{color:#58585a;font-size:22px; text-align: center; margin-top:-15px;}
</style>
    </head>
    <body>
    <div id="wrapper">
    	<div id="line"></div> 
        <div id="textblock">        	   
                <p alt="Digital Initiatives" title="Digital Initiatives" class="headerText">BSEC Digital Initiatives</p>
                <p alt=".Beta" title=".Beta"class="bodyText">.Beta</p>
         </div>
     </div>
    
<!-- Yandex.Metrika counter --> <script type="text/javascript" > (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter48454874 = new Ya.Metrika({ id:48454874, clickmap:true, trackLinks:true, accurateTrackBounce:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/48454874" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
    
   </body>