{% load staticfiles %}

<!DOCTYPE html>
<!--[if lt IE 7]><html lang="ru" class="lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html lang="ru" class="lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html lang="ru" class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<!--<![endif]-->

<html lang="en">
{% load profile %}
<head>
    <meta charset="utf-8"/>

    <title>{% block title %}{% endblock %}</title>

    <meta name="description" content=""/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">

    <link rel="stylesheet" href="{% static 'libs/bootstrap/bootstrap-grid-3.3.1.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'libs/font-awesome-4.7.0/css/font-awesome.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'libs/font-awesome-5.0.8/css/fontawesome.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/first/fonts.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/first/main.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/first/media.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/first/profile.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/first/lecturer.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/first/organizer.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/first/erorrs.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/first/calendar/calendar.css' %}"/>

</head>
<body>

<div class="bg"></div>

{% if request.path != '/404/' %}

    {#<div class="block_erorr_register">#}
    {#    <div class="bg_erorrs">#}
    {#    </div>#}
    {#    <div class="icon_erorrs">#}
    {#        <i class="fa fa-exclamation-circle"></i>#}
    {#    </div>#}
    {#    <div class="text_erorrs">#}
    {#        <p class="text_act_erorrs">ERORR:</p>#}
    {#        <p>THIS USERNAME ALREADY EXIST</p>#}
    {#    </div>#}
    {#    <div class="butt_close_erorrs">CLOSE</div>#}
    {#</div>#}
    {##}
    {#<div class="block_erorr_sign_in">#}
    {#    <div class="bg_erorrs">#}
    {#    </div>#}
    {#    <div class="icon_erorrs">#}
    {#        <i class="fa fa-exclamation-circle"></i>#}
    {#    </div>#}
    {#    <div class="text_erorrs">#}
    {#        <p class="text_act_erorrs">ERORR:</p>#}
    {#        <p>THIS USER DOESN'T EXIST</p>#}
    {#        <p>OR YOU ENTERED INCORRECT DATA</p>#}
    {#        <div class="note_erorrs">#}
    {#            <p><span class="text_act_erorrs">NOTE: </span>POSSIBLE YOU HAVEN'T CONFIMED YOUR EMAIL</p>#}
    {#        </div>#}
    {#    </div>#}
    {#    <div class="butt_close_erorrs">CLOSE</div>#}
    {#</div>#}

{% endif %}

{% if request.path != '/eventmap/' %}

    {% if user.is_authenticated %}

        <div class="container_profile">
            <ul class="menu_profile">
                <li>
                    <a href="" class="text_profile">
                        <span class="name_profile">WELCOME, {{ acc.full_name }}</span>
                        <div class="icon_profile"><i class="fa fa-user"></i></div>
                    </a>
                    <ul class="submenu_profile">
                        <li class="profile_up_line"></li>
                        <li><a href="{% profile %}">PROFILE</a></li>
                        <li><a href="{% url 'lectures' %}">LECTURES</a></li>
                        <li><a href="{% url 'platforms' %}">PLATFORMs</a></li>
                        <li><a href="{% url 'applications' %}">APPLICATIONS</a></li>
                        <li><a href="{% profile %}">SETTINGS</a></li>
                        <li><a href="{% url 'logout' %}">EXIT</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    {% else %}

        <div class="block_registration">
            <div class="signin_reg"><a href="{% url 'signin' %}"
                                       class="{% url_reg '/signin/' %}">SIGN IN</a>
            </div>
            <p class="line"></p>
            <div class="register_reg"><a href="{% url 'register' %}" class="{% url_reg '/register/' %}">REGISTER</a>
            </div>
        </div>

    {% endif %}

    {% if request.path != '/404/' %}

        {% if request.path != '/' %}

            <div class="block_logo_categ">
                <img src="../../static/images/image_category.png" alt="logo">
                <div class="text_logo">{% block text_categ %}{% endblock %}</div>

                {% if request.path == '/register/' %}
                    <div class="required">*ALL FIELDS ARE REQUIRED</div>
                {% endif %}

            </div>

        {% endif %}

    {% endif %}
{% endif %}

<div class="main_menu">
    <ul>
        <li><a href="{% url 'stipot' %}" class="{% url_menu '/' %}">STIPOT</a></li>
        <li><a href="{% url 'about' %}" class="{% url_menu '/about/' %}">ABOUT</a></li>
        <li><a href="{% url 'eventmap' %}" class="{% url_menu '/eventmap/' %}">EVENT MAP</a></li>
        <li><a href="{% url 'faq' %}" class="{% url_menu '/faq/' %}">FAQ</a></li>
        <li><a href="{% url 'partners' %}" class="{% url_menu '/partners/' %}">PARTNERS</a></li>
    </ul>
</div>

{% block content %}
{% endblock %}


{% if request.path != '/404/' %}
    {% if request.path != '/eventmap/' %}
        {% if request.path != '/partners/' %}

            <footer class="main_footer">
                <div class="sctein">
                    <span class="science_footer">SCIENCE</span> TECHNOLOGY <span class="inno_footer">INNOVATION</span>
                </div>
                <div class="copyright">
                    <p>&copy; 2017 MINISTRY OF EDUCATION AND SCIENCE OF THE RUSSIAN FEDERATION</p>
                </div>
            </footer>

        {% endif %}
    {% endif %}
{% endif %}

<script src="https://use.fontawesome.com/484df5253e.js"></script>

<script src="https://maps.googleapis.com/maps/api/js"></script>

<script src="{% static 'libs/jquery/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'libs/jquery-mousewheel/jquery.mousewheel.min.js' %}"></script>
<script src="{% static 'js/common.js' %}"></script>
<script src="{% static 'js/maps.js' %}"></script>
<script src="{% static 'js/calendar.js' %}"></script>

</body>
</html>