<!DOCTYPE html>

{% extends 'first/base.html' %}

<html lang="ru">

<head>
    {% block title %}Event map{% endblock %}
</head>

<body>
{% block content %}

    <div class="eventmap_container">
        <div class="block_events_map">
            <div class="erorr_load_map">
                <div class="sad_smile_events"><i class="fa fa-frown"></i></div>
                <p>SORRY, IF MAP DOESN'T LOAD</p>
                <p>PLEASE, RELOAD PAGE</p>
            </div>
            <div id="map">
                <script async defer
                        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSaOzdz7VbGKPqjAhjOZOrvFSH8iqTa9Q&callback=initMap">
                </script>
            </div>
        </div>
        <div class="block_events">
            <div class="events_parag">EVENTS</div>
            <div class="eventmap_event_lecture">
                <div class="name_of_event">theory of relativity "228"</div>
                <div class="adress_event"></div>
                <label class="button_eventmap_more" onmousedown="return false" onselectstart="return false">more <i
                        class="fa fa-angle-left i_more"></i></label>
            </div>
            <div class="eventmap_event_platform">
                <div class="name_of_event">lol kek cheburek</div>
                <div class="adress_event"></div>
                <label class="button_eventmap_more" onmousedown="return false" onselectstart="return false">more <i
                        class="fa fa-angle-left"></i></label>
            </div>
        </div>
    </div>

{% endblock %}
</body>
</html>