<!DOCTYPE html>

{% extends 'first/base.html' %}

<html lang="ru">

<head>
    {% block title %}Sign in{% endblock %}
</head>

<body>
{% block content %}

    {% block text_categ %}SIGN IN{% endblock %}

    <div class="signin_content">
        <div class="block_signin">
            <form action="" class="signin_form" method="post">
                {% csrf_token%}
                <p class="sig_text_usna">USERNAME</p>
                <input type="text" class="signin_usna" name="username">
                <p class="sig_text_pass">PASSWORD</p>
                <input type="password" class="signin_pass" name="pass">
                <label class="signin_label">
                    <input type="checkbox" class="signin_check" checked="checked">
                    <span class="checkmark"></span>
                    <p class="sig_text_remem">REMEMBER THIS COMPUTER</p>
                </label>
                <input type="submit" class="signin_butt" value="SIGN IN">
            </form>
            <div class="forgot_data">
                <div class="forgot_pass">
                    <u><a href="">FORGOT PASSWORD?</a></u>
                </div>
                <div class="forgot_usna">
                    <u><a href="">FORGOT USERNAME?</a></u>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
</body>
</html>