<!DOCTYPE html>

{% extends 'first/sign/signin.html' %}

<html lang="en">

<body>

{% block congratulation %}

    <div class="block_congratulation">
        <div class="bg_congrat">
        </div>
        <div class="icon_congrat">
            <i class="fa fa-check-circle"></i>
        </div>
        <div class="text_congrat">
            <p class="active_text_congrat">WELCOME!</p>
            <p>YOUR EMAIL HAS BEEN SUCCESSFULLY ACTIVATED!</p>
        </div>
        <div class="button_congrat">
            START
        </div>
    </div>

{% endblock %}

</body>

</html>