<!DOCTYPE html>

{% extends 'first/base.html' %}

<html lang="ru">

<head>
    {% block title %}Sign in{% endblock %}
</head>

<body>
{% block content %}

    {% block text_categ %}SIGN IN{% endblock %}

    <div class="signin_content">
        <div class="block_signin">
            <form action="" class="signin_form" method="post">
                {% csrf_token %}
                <p class="sig_text_usna">USERNAME</p>
                <input required type="text" class="signin_usna" name="username" pattern="^[a-zA-Z0-9\s]+$">
                <p class="sig_text_pass">PASSWORD</p>
                <input required type="password" class="signin_pass" name="pass" pattern="^[a-zA-Z0-9\s]+$">
                <label class="signin_label">
                    <input type="checkbox" class="signin_check" checked="checked">
                    <span class="checkmark"></span>
                    <p class="sig_text_remem">REMEMBER THIS COMPUTER</p>
                </label>
                <input type="submit" class="signin_butt" value="SIGN IN">
            </form>
            <div class="forgot_data">
                <div class="forgot_pass">
                    <u><a href="">FORGOT PASSWORD?</a></u>
                </div>
                <div class="forgot_usna">

                    <u><a href="">FORGOT USERNAME?</a></u>
                </div>
            </div>
        </div>
    </div>
    {% if error_login %}
        <div class="block_erorr_register">
            <div class="bg_erorrs">
            </div>
            <div class="icon_erorrs">
                <i class="fa fa-exclamation-circle"></i>
            </div>
            <div class="text_erorrs">
                <p class="text_act_erorrs">ERORR:</p>
                <p>THIS USER DOESN'T EXIST</p>
                <p>OR YOU ENTERED INCORRECT DATA</p>
                <div class="note_erorrs">
                    <p><span class="text_act_erorrs">NOTE: </span>POSSIBLE YOU HAVEN'T CONFIMED YOUR EMAIL</p>
                </div>
            </div>
            <div class="butt_close_erorrs">CLOSE</div>
        </div>
    {% endif %}
    {% block congratulation %}

    {% endblock %}

{% endblock %}
</body>
</html>