<!DOCTYPE html>

{% extends 'second/base.html' %}

{% load staticfiles %}

<html lang="ru">

<head>
    {% block title %}Profile{% endblock %}
</head>

<body>

{% block parag %}Welcome{% endblock %}

{% block content %}

    <div class="profile_content">
        <div class="profile_block">
            <div class="name_profile">
                <div class="photo_prof">
                    <div class="bg_photo_prof">
                        <img src="{% static 'images/profiles/flag_rus.png' %}" alt="">
                    </div>
                </div>
                <div class="text_name_prof">
                    Russia
                </div>
            </div>

            <div class="about_prof">
                <div class="block_of_organizations">
                    <div class="parag_block_orgs">
                        List of organizations
                    </div>
                    <div class="blocks_orgs">

                        <div class="prof_list">

                            <div class="prof_parags_block">

                                <div class="prof_prg">
                                    Country name
                                    <div class="prof_btt_line"></div>
                                </div>

                                <div class="contr_prg">
                                    Control
                                    <div class="prof_btt_line"></div>
                                </div>
                            </div>

                            <div class="prof_list_block">
                                <div class="prof_org">
                                    Russian Federationsadasd asd
                                </div>
                                <div class="cntr_cntr_org">
                                    <div class="contr_org">
                                        <div class="compl_org" data-tooltip="Complete">
                                            <i class="fa fa-check"></i>
                                        </div>
                                        <div class="post_org" data-tooltip="Postpone">
                                            <i class="fa fa-archive"></i>
                                        </div>
                                        <div class="reject_org" data-tooltip="Reject">
                                            <i class="fa fa-times"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="prof_list_block">
                                <div class="prof_org">
                                    Russian Federation
                                </div>
                                <div class="cntr_cntr_org">
                                    <div class="contr_org">
                                        <div class="compl_org" data-tooltip="Complete">
                                            <i class="fa fa-check"></i>
                                        </div>
                                        <div class="post_org" data-tooltip="Postpone">
                                            <i class="fa fa-archive"></i>
                                        </div>
                                        <div class="reject_org" data-tooltip="Reject">
                                            <i class="fa fa-times"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="prof_list_block">
                                <div class="prof_org">
                                    Russian Federation
                                </div>
                                <div class="cntr_cntr_org">
                                    <div class="contr_org">
                                        <div class="compl_org" data-tooltip="Complete">
                                            <i class="fa fa-check"></i>
                                        </div>
                                        <div class="post_org" data-tooltip="Postpone">
                                            <i class="fa fa-archive"></i>
                                        </div>
                                        <div class="reject_org" data-tooltip="Reject">
                                            <i class="fa fa-times"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="prof_list_block">
                                <div class="prof_org">
                                    Russian Federation
                                </div>
                                <div class="cntr_cntr_org">
                                    <div class="contr_org">
                                        <div class="compl_org" data-tooltip="Complete">
                                            <i class="fa fa-check"></i>
                                        </div>
                                        <div class="post_org" data-tooltip="Postpone">
                                            <i class="fa fa-archive"></i>
                                        </div>
                                        <div class="reject_org" data-tooltip="Reject">
                                            <i class="fa fa-times"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="prof_list_block">
                                <div class="prof_org">
                                    Russian Federation
                                </div>
                                <div class="cntr_cntr_org">
                                    <div class="contr_org">
                                        <div class="compl_org" data-tooltip="Complete">
                                            <i class="fa fa-check"></i>
                                        </div>
                                        <div class="post_org" data-tooltip="Postpone">
                                            <i class="fa fa-archive"></i>
                                        </div>
                                        <div class="reject_org" data-tooltip="Reject">
                                            <i class="fa fa-times"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="prof_list_block">
                                <div class="prof_org">
                                    Russian Federation
                                </div>
                                <div class="cntr_cntr_org">
                                    <div class="contr_org">
                                        <div class="compl_org" data-tooltip="Complete">
                                            <i class="fa fa-check"></i>
                                        </div>
                                        <div class="post_org" data-tooltip="Postpone">
                                            <i class="fa fa-archive"></i>
                                        </div>
                                        <div class="reject_org" data-tooltip="Reject">
                                            <i class="fa fa-times"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

</body>
</html>