<!DOCTYPE html>

{% extends 'first/base.html' %}

<html lang="ru">

<head>
    {% block title %}Lectures{% endblock %}
</head>

<body>
{% block content %}

    {% block text_categ %}LECTURES{% endblock %}

    <div class="lectures_content">
        <div class="block_lectures">
            <div class="block_up_lectures">

                <div class="lectures_menu">
                    <ul>
                        <li class="lectures_plan lectures_active">planned</li>
                        <li class="lectures_comp">completed</li>
                        <li class="lectures_canc">canceled</li>
                    </ul>
                </div>

                <div class="planned_lectures">
                    <div class="lectures_block_lecture">
                        <div class="lectures_date_lecture">sdf</div>
                        <div class="lectures_name_lecture">
                            sdf
                        </div>
                    </div>
                    <div class="lectures_block_lecture">
                        <div class="lectures_date_lecture">sdf</div>
                        <div class="lectures_name_lecture">sdf</div>
                    </div>
                    <div class="lectures_block_lecture">
                        <div class="lectures_date_lecture">sdf</div>
                        <div class="lectures_name_lecture">
                            sdfsdf
                        </div>
                    </div>
                </div>

                <div class="complended_lectures">
                    <div class="lectures_block_lecture">
                        <div class="lectures_date_lecture">asd</div>
                        <div class="lectures_name_lecture">
                            asd asdsad sad as dasd sa das dasd as dasd asd asd asd asd asd asd asd asd asd
                        </div>
                    </div>
                </div>

                <div class="canceled_lectures">

                </div>

                <div class="lectures_calendar">
                </div>

                <div class="bottom_line_lectures"></div>
            </div>
            <div class="lectures_eventmap">
                <div class="text_map_lectures">world map</div>
                <div id="map2">
                    <script async defer
                            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSaOzdz7VbGKPqjAhjOZOrvFSH8iqTa9Q&callback=initMap">
                    </script>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
</body>
</html>