<!DOCTYPE html>

{% extends 'first/base.html' %}

<html lang="ru">

<head>
    {% block title %}Profile{% endblock %}
</head>

<body>
{% block content %}

    {% block text_categ %}PROFILE{% endblock %}

    <div class="organizer_content">
        <form class="avatar_form" id="avatar_form"
              action="javascript:void(null);"
              method="post" enctype="multipart/form-data"
              onsubmit="ajax_avatar()">
            {% csrf_token %}
            <div class="block_central">
                <div class="photo_organizer">
                    {% if acc.avatar %}
                        <img class="avatar_image" id="avatar_image" src="{{ acc.avatar.url }}">
                    {% else %}
                        <div class="bg_photo_organ"><i class="fa fa-user-circle"></i></div>
                    {% endif %}
                    <label class="upl_photo_organ">
                        <input type="file" name="photo" accept="image/*,image/jpeg" onchange="ajax_avatar()">
                        <span class="butt_upl_photo_organ"><i class="fa fa-upload"></i></span>
                        <p class="text_upl_photo_organ">UPLOAD</p>

                    </label>
                </div>


                <div class="backg_name_organizer">
                    <div class="name_organizer">

                    </div>

                    <div class="settings_organizer">
                        <i class="fa fa-cog"></i>
                    </div>
                </div>
            </div>
        </form>

        <form action="." method="post">
            {% csrf_token %}
            <div class="block_info_organizer">
                <div class="inputs_organ">
                    <div class="organizer_name">
                        <div class="organ_parag">NAME OF ORGANIZATION: <input type="text" class="organ_name" value=""
                                                                              name="name" pattern="^[a-zA-Z0-9\s]+$">
                            <div class="info_organ"></div>
                        </div>
                    </div>

                    <div class="organ_parag">COUNTRY:
                        <div class="info_organ"></div>
                        <select name="countries">
                            <option selected value=""></option>
                            {% include 'includes/countries.html' %}
                        </select>
                    </div>

                    <div class="organ_parag">REPRESENTATIVE: <input type="text" name="rank"
                                                                    value=""
                                                                    class="organ_repres" pattern="^[a-zA-Z0-9\s]+$">
                        <div class="info_organ"></div>
                    </div>

                    <div class="organ_parag">PHONE NUMBER: <input type="text" name="place" value=""
                                                                  class="organ_phon_num" pattern="^[a-zA-Z0-9\s]+$">
                        <div class="info_organ"></div>
                    </div>

                    <div class="organ_parag">EMAIL: <input type="email" name="position" value=""
                                                           class="organ_email">
                        <div class="info_organ"></div>
                    </div>

                    <div class="organ_parag">DIRECTOR: <input type="text" name="interests"
                                                              value=""
                                                              class="organ_direc" pattern="^[a-zA-Z0-9\s]+$">
                        <div class="info_organ"></div>
                    </div>

                    <div class="organ_parag">EMAIL OF DIRECTOR: <input type="email" name="degree"
                                                                       value=""
                                                                       class="organ_email_direc">
                        <div class="info_organ"></div>
                    </div>

                    <div class="organ_parag">PREFERRED THEMES: <input type="text" name="rank"
                                                                      value=""
                                                                      class="organ_pref_them" pattern="^[a-zA-Z0-9\s]+$">
                        <div class="info_organ"></div>
                    </div>

                </div>
                <div class="organ_subm"><input type="submit" value="APPLY CHANGES"></div>
            </div>

        </form>
    </div>

{% endblock %}
</body>
</html>