html, body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto thin";
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

a {
    outline: none !important;
    color: #004A94;
}

a:hover {
    color: #3F76A9;
    transition: all .5s ease;
    -o-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    cursor: pointer;
}

p {
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style: none;
}

.bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background-color: #f2f2f2;
}

.bg_bottom_line {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #0070C0;
    z-index: 10000;
}

/* ---> menu content <--- */

.menu_content {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100000;
    overflow: auto;
    font-family: "Roboto light";
    transition: all .5s ease;
    -o-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    background-color: #0070C0;
    /*display: none;*/
}

.main_menu {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10010;
    color: #ffffff;
}

.menu_active {
    bottom: 0;
    /*display: block;*/
}

.main_menu_bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #187DC5;
    /*opacity: 0.7;*/
    z-index: 10020;
}

.menu_button_hide {
    position: relative;
    width: 100%;
    height: 50px;
    margin-top: 100px;
    text-align: center;
    z-index: 10100;
    cursor: pointer;
}

.hide_first {
    position: absolute;
    left: 50%;
    width: 50px;
    height: 4px;
    margin-left: -25px;
    background-color: #B3D4EC;
    transform: rotate(45deg);
}

.hide_second {
    position: absolute;
    left: 50%;
    width: 50px;
    height: 4px;
    margin-left: -25px;
    background-color: #B3D4EC;
    transform: rotate(-45deg);
}

.menu_info_datebase {
    position: relative;
    width: 100%;
    text-align: center;
}

.menu_text_logo {
    position: relative;
    margin-top: 20px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    z-index: 10100;
}

.menu_text_logo a {
    color: #ffffff;
}

.menu_text_info {
    position: relative;
    width: 100%;
    margin: 30px 0 20px 0;
    text-align: center;
    z-index: 10100;
    font-size: 24px;
    font-style: oblique;
    color: #D9D9D9;
}

.main_menu ul {
    position: relative;
    left: 50%;
    width: 350px;
    margin-left: -175px;
    padding: 0;
    z-index: 10100;
}

.main_menu ul li {
    left: 50%;
    width: 350px;
    padding: 30px 0;
    text-align: center;
    border-top-color: #ffffff;
    border-top-style: dashed;
    border-top-width: 1px;
}

.menu_li_sign {
    border-bottom-color: #ffffff;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
}

.main_menu ul li a {
    color: #ffffff;
    font-size: 52px;
    transition: all .5s ease;
    -o-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
}

.main_menu ul li a:hover {
    color: #8A8A8A;
}

.menu_button_show {
    position: fixed;
    bottom: -15px;
    left: 50%;
    width: 100px;
    height: 70px;
    margin-left: -50px;
    color: #ffffff;
    background-color: #0070C0;
    text-align: center;
    font-size: 36px;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
    z-index: 10100;
    transition: all .5s ease;
    -o-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
}

.butt_active {
    bottom: 100%;
}

/* ---> menu content end <--- */

/* ---> parag <--- */

.logo_parag_content {
    position: absolute;
    z-index: 1000;
}

.logo_parag_img {
    position: absolute;
    top: -265px;
    left: -100px;
    width: 450px;
}

.logo_parag_img img {
    width: 450px;
}

.logo_parag_text {
    position: relative;
    left: 380px;
    top: 30px;
    font-size: 52px;
    color: #595959;
}

/* ---> parag end <--- */

/* ---> home <--- */

.home_content {
    position: relative;
    flex: 1 0 auto;
    width: 100%;
    height: 100%;
    font-family: "Roboto light";
}

.home_block {
    position: absolute;
    top: 0;
    left: 50%;
    width: 850px;
    height: 100%;
    margin-left: -425px;
}

.home_logo {
    position: relative;
    margin-top: 100px;
    width: 100%;
    text-align: center;
}

.home_logo img {
    width: 450px;
}

.home_text_logo {
    position: relative;
    width: 100%;
    margin-top: 50px;
    padding: 10px;
    color: #595959;
    font-size: 42px;
    text-align: center;
    text-transform: uppercase;
}

.line_text_logo {
    background-color: #0070C0;
    position: absolute;
}

.line_top, .line_bottom {
    height: 5px;
    width: 95%;
}

.line_left, .line_right {
    width: 5px;
    height: 60%;
}

.line_top, .line_right {
    top: 0;
    right: 0;
}

.line_bottom, .line_left {
    bottom: 0;
    left: 0;
}

.home_text_region {
    position: relative;
    width: 100%;
    margin-top: 20px;
    text-align: center;
    font-size: 32px;
    font-family: "Roboto thin";
    margin-bottom: 100px;
}

/* ---> home end <--- */

/* ---> search <--- */

.search_content {
    position: relative;
    width: 100%;
    height: 100%;
    flex: 1 0 auto;
}

.search_content_active {
    overflow-y: visible;
}

.search_block {
    position: relative;
    width: 50%;
    left: 25%;
    transition: left 1s ease;
    -o-transition: left 1s ease;
    -webkit-transition: left 1s ease;
    -moz-transition: left 1s ease;
}

.search_block_active {
    left: 0;
}

.search_logo {
    position: relative;
    text-align: center;
    margin-top: 200px;
}

.search_logo img {
    width: 150px;
    margin-left: 40px;
}

.search_block_input {
    position: relative;
    left: 50%;
    width: 500px;
    margin-left: -250px;
    font-size: 28px;
}

.search_block_input input {
    width: 100%;
    height: 60px;
    margin-top: 20px;
    font-size: 28px;
    padding: 0 20px;
    text-align: center;
}

.search_block_input input::placeholder {
    text-align: center;
}

.search_bg_sum {
    position: relative;
    top: 0;
    width: 100%;
    height: 160px;
    transition: all .7s ease;
    -o-transition: all .7s ease;
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
}

.search_block_submit {
    position: relative;
    top: 0;
    border: none;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #0070C0;
    margin-bottom: 100px;
}

.search_submit_active {
    margin-top: 560px;
}

.search_block_submit:hover {
    background-color: #8A8A8A;
}

.search_adv_block {
    position: absolute;
    top: 300px;
    left: -5000px;
    width: 500px;
    transition: left .7s ease;
    -o-transition: left .7s ease;
    -webkit-transition: left .7s ease;
    -moz-transition: left .7s ease;
}

.search_adv_active {
    left: 0;
}

.search_adv_block input {
    display: none;
}

/*--- checkboxs ---*/

.search_under_label {
    position: relative;
    margin-top: 40px;
    width: 100%;
    height: 60px;
}

.search_checked_map {
    cursor: pointer;
}

.search_text_check_map {
    position: absolute;
    top: 10px;
    left: 70px;
}

.search_check {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.search_check_map {
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;
    width: 60px;
    background-color: #ffffff;
    border: 1px solid #8A8A8A;
    transition: all .5s ease;
    -o-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
}

.search_checked_map:hover input ~ .search_check_map {
    background-color: #ccc;
}

.search_check_map:after {
    content: "";
    position: absolute;
    display: none;
}

.search_checked_map input:checked ~ .search_check_map:after {
    display: block;
}

.search_check_map:after {
    left: 20px;
    top: 5px;
    width: 20px;
    height: 40px;
    border: solid #0070C0;
    border-width: 0 7px 7px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.search_checked_advsearch {
    cursor: pointer;
}

.search_text_check_advsearch {
    position: relative;
    float: right;
    margin-top: -50px;
    margin-right: 80px;
}

.search_check_advsearch {
    position: absolute;
    top: 0;
    right: 300px;
    height: 60px;
    width: 60px;
    background-color: #ffffff;
    border: 1px solid #8A8A8A;
    transition: all .5s ease;
    -o-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
}

.search_checked_advsearch:hover input ~ .search_check_advsearch {
    background-color: #ccc;
}

.search_check_advsearch:after {
    content: "";
    position: absolute;
    display: none;
}

.search_checked_advsearch input:checked ~ .search_check_advsearch:after {
    display: block;
}

.search_check_advsearch:after {
    left: 20px;
    top: 5px;
    width: 20px;
    height: 40px;
    border: solid #0070C0;
    border-width: 0 7px 7px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*--- checkboxs end ---*/

.search_map_block {
    position: fixed;
    top: 0;
    right: -50%;
    width: 50%;
    height: 100%;
    z-index: 1000;
    transition: right 1s ease;
    -o-transition: right 1s ease;
    -webkit-transition: right 1s ease;
    -moz-transition: right 1s ease;
}

.map_block_active {
    right: 0;
}

#search_map {
    width: 100%;
    height: 100%;
    background-color: #8A8A8A;
    border-left-color: #0070C0;
    border-left-style: dashed;
    border-left-width: 3px;
    z-index: 1100;
}

.map_text {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -60px;
    font-size: 52px;
    color: #ffffff;
}

.map_search {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1102;
}

.search_mob_open_close {
    display: none;
}

/* ---> search end <--- */

/* ---> search results <--- */

.rslts_content {
    position: relative;
    width: 100%;
    height: 100%;
    flex: 1 0 auto;
}

.rslts_block {
    position: relative;
    width: 900px;
    height: 700px;
    margin: 200px 0 0 -450px;
    left: 50%;
    text-align: center;
}

.rslts_parag {
    font-size: 30px;
    margin-bottom: 20px;
}

.rslts_list {
    position: relative;
    width: 900px;
    height: 600px;
    flex-direction: column;
    overflow-x: auto;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.rslts_parags_block,
.rslts_list_block,
.prof_parags_block,
.prof_list_block {
    position: relative;
    display: flex;
    flex-direction: row;
}

.rslts_btt_line,
.prof_btt_line {
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #cccccc;
    margin-top: 10px;
}

.rslts_prg,
.prof_prg {
    position: relative;
    min-width: 350px;
    width: 350px;
    font-size: 24px;
    margin: 0 10px;
}

.rslts_org,
.prof_org {
    position: relative;
    min-width: 350px;
    width: 350px;
    font-size: 20px;
    margin: 10px 10px;
    text-align: center;
    font-family: "Roboto light";
}

.rslts_line_help {
    position: absolute;
    top: 118px;
    left: -25px;
    width: 950px;
    height: 30px;
    background-color: #0070C0;
    z-index: 1200;
    text-align: right;
    padding-right: 20px;
    color: #fff;
    font-size: 20px;
    font-family: "Roboto light";
    opacity: 0.4;
}

/* ---> search results end <--- */

/* ---> questionnaire <--- */

.quest_content {
    position: relative;
    width: 100%;
    height: 100%;
    flex: 1 0 auto;
}

.quest_block {
    position: relative;
    left: 50%;
    width: 900px;
    margin-left: -450px;
    margin-top: 200px;
}

.quest_text {
    font-size: 28px;
    text-align: justify;
    color: #595959;
}

.quest_block_inputs {
    position: relative;
    left: 50%;
    width: 900px;
    margin: 30px 0 100px -450px;
}

.quest_req_text {
    font-size: 24px;
    font-style: oblique;
    margin-left: 10px;
}

.quest_form_cr {
    margin: 10px 0;
    display: grid;
    grid-template-columns: 50% 50%;
}

.quest_form_cr input {
    padding: 0 20px;
    margin: 10px;
}

.quest_block_inputs input {
    position: relative;
    height: 60px;
    width: 430px;
    font-size: 28px;
    text-align: center;
}

.quest_block_inputs input::placeholder {
    text-transform: uppercase;
}

/*.quest_block_inputs input:hover {*/
/*background-color: #8A8A8A;*/
/*color: #8A8A8A;*/
/*border: none;*/
/*}*/

/* --- quest create --- */

.quest_create_quest,
.quest_form_quest_butt {
    position: relative;
    width: 430px;
    height: 60px;
    background-color: #0070C0;
    cursor: pointer;
    transition: all .7s ease;
    -o-transition: all .7s ease;
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    text-transform: uppercase;
    color: #fff;
    border: none;
}

.quest_create_quest {
    margin: 10px;
}

.quest_create_quest:hover,
.quest_form_quest_butt:hover {
    background-color: #8A8A8A;
}

.quest_cr_name::placeholder {
    width: 100%;
    text-align: center;
}

.quest_cr_butt {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 30px;
    padding-top: 6px;
    color: #fff;
}

.quest_form_cr_line {
    position: relative;
    width: 100%;
    height: 3px;
    background-color: #8A8A8A;
}

/* --- quest plus --- */

.quest_form_quest {
    position: relative;
    width: 600px;
    left: 50%;
    min-height: 60px;
    margin: 10px 0 50px -300px;
    text-align: center;
}

.quest_input_bl {
    position: relative;
    width: 600px;
    height: 80px;
}

.quest_form_quest input {
    position: relative;
    margin: 10px;
    width: 100%;
}

.quest_input {
    position: relative;
    padding: 0 50px 0 20px;
}

.quest_icon_rem {
    position: absolute;
    top: 25px;
    right: 20px;
    width: 30px;
    height: 30px;
}

.quest_icon_rem i {
    font-size: 30px;
    cursor: pointer;
    color: #0070C0;
    transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.quest_icon_rem i:hover {
    color: #8A8A8A;
}

.quest_icon_rem:before,
.quest_icon_rem:after {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

.quest_icon_rem:before {
    content: attr(data-tooltip);
    color: #0070C0;
    width: 140px;
    height: 40px;
    line-height: 40px;
    background: #ccc;
    border-radius: 5px;
    bottom: 50px;
    left: 5px;
}

.quest_icon_rem:after {
    content: "";
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: #ccc;
    bottom: 30px;
    left: calc(50% - 12.5px);
}

.quest_icon_rem:hover:before,
.quest_icon_rem:hover:after {
    opacity: 0.9;
    visibility: visible;
    transition: .2s ease-in-out .4s;
}

.quest_icon_rem:before,
.quest_icon_rem:after {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

.quest_icon_rem:before {
    content: attr(data-tooltip);
    color: #0070C0;
    width: 140px;
    height: 40px;
    font-size: 18px;
    line-height: 40px;
    background: #ccc;
    border-radius: 5px;
    bottom: 39px;
    left: -55px;
    z-index: 1110;
}

.quest_icon_rem:after {
    content: "";
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: #ccc;
    bottom: 20px;
    left: 5px;
}

.quest_icon_rem:hover:before,
.quest_icon_rem:hover:after {
    opacity: 0.9;
    visibility: visible;
    transition: .2s ease-in-out .4s;
}

.quest_form_quest_bg_butt {
    position: relative;
    width: 900px;
    height: 80px;
    padding: 0 20px;
}

.quest_form_quest_butt {
    position: relative;
    margin: 0;
}

/* ---> questionnaire end <--- */

/* ---> about <--- */

.about_content {
    position: relative;
    width: 100%;
    height: 100%;
    flex: 1 0 auto;
}

.about_block {
    position: relative;
    left: 50%;
    width: 900px;
    margin-left: -450px;
    z-index: 1100;
    margin-bottom: 100px;
}

.about_text {
    position: relative;
    margin-top: 200px;
    font-size: 28px;
    text-align: justify;
    line-height: 1.2;
    color: #595959;
}

.about_text a {
    color: #0070C0;
}

.about_paragraphs {
    position: relative;
    width: 100%;
    margin-top: 30px;
    font-size: 28px;
    color: #595959;
}

.about_parag, .about_parag_obj {
    color: #595959;
    border-bottom-color: #595959;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
}

.about_parag_obj {
    border-top-color: #595959;
    border-top-style: dashed;
    border-top-width: 1px;
}

.accordion {
    width: 100%;
    min-height: 0;
    display: block;
    position: relative;
    overflow: hidden
}

.about_title_block {
    font-size: 28px;
    font-weight: 300;
    display: block;
    padding: 30px 0;
    margin: 0;
    cursor: pointer;
    color: #0070C0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.msg {
    position: relative;
    margin: 0 50px 50px 50px;
    text-align: justify;
    color: #595959;
    line-height: 1.2;
    overflow: hidden;
    max-height: 800px;
    opacity: 1;
    transform: translate(0, 0);
}

.accordion ul {
    list-style: none;
    perspective: 900px;
    padding: 0;
    margin: 0;
}

.accordion ul li {
    position: relative;
    padding: 0;
    margin: 0;
}

.accordion ul li input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    opacity: 0;
}

.accordion ul li input[type=checkbox]:checked ~ div.msg {
    margin-top: 0;
    margin-bottom: 0;
    max-height: 0;
    opacity: 0;
    transform: translate(0, 50%);
}

div.msg, ul li i:before, ul li i:after {
    transition: all 0.5s ease-in-out;
}

/* ---> about end <--- */

/* ---> sign in <--- */

.signin_content {
    position: relative;
    width: 100%;
    height: 100%;
    flex: 1 0 auto;
}

.signin_block {
    position: relative;
    left: 50%;
    width: 500px;
    margin-left: -250px;
    margin-top: 200px;
}

.signin_logo {
    position: relative;
    width: 100%;
    text-align: center;
}

.signin_logo img {
    position: relative;
    width: 150px;
    margin-left: -20px;
    margin-bottom: 10px;
}

.signin_block__error-inp {
    width: 100%;
    text-align: center;
    font-size: 24px;
    color: #E84C3D;
}

.signin_block input {
    width: 100%;
    height: 60px;
    margin-top: 20px;
    font-size: 28px;
    padding: 0 20px;
    text-align: center;
}

.signin_block input::placeholder {
    text-align: center;
    text-transform: uppercase;
}

.block_signin_label {
    position: relative;
    width: 100%;
    height: 60px;
    margin-top: 20px;
}

.signin_check_rem {
    cursor: pointer;
}

.text_signin_rem {
    position: absolute;
    top: 10px;
    left: 70px;
    font-size: 28px;
}

.signin_check {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.check_signin_rem {
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;
    width: 60px;
    background-color: #ffffff;
    border: 1px solid #8A8A8A;
    transition: all .7s ease;
    -o-transition: all .7s ease;
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
}

.signin_check_rem:hover input ~ .check_signin_rem {
    background-color: #ccc;
}

.check_signin_rem:after {
    content: "";
    position: absolute;
    display: none;
}

.signin_check_rem input:checked ~ .check_signin_rem:after {
    display: block;
}

.check_signin_rem:after {
    left: 20px;
    top: 5px;
    width: 20px;
    height: 40px;
    border: solid #0070C0;
    border-width: 0 7px 7px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.signin_submit,
.signin-block__forgot-submit {
    position: relative;
    color: #ffffff;
    background-color: #0070C0;
    border: none;
    transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
}

.signin-block__forgot-submit {
    display: none;
}

.signin_submit:hover,
.signin-block__forgot-submit:hover {
    background-color: #8A8A8A;
}

.signin-block__forgot,
.signin-block__go-back {
    position: absolute;
    width: 100%;
    margin: 20px 0 0 0;
    text-align: center;
    font-size: 22px;
    color: #0070C0;
    cursor: pointer;
    transition: all .8s ease;
}

.signin-block__forgot {
    right: 0;
}

.signin-block__go-back {
    left: 200px;
    display: none;
}

/* ---> sign in end <--- */

/* ---> profile <--- */

.profile_content {
    position: relative;
    width: 100%;
    height: 100%;
}

.profile_block {
    position: relative;
    width: 900px;
    left: 50%;
    margin: 200px 0 0 -450px;
    min-height: calc(100% - 200px);
    z-index: 1100;
}

.name_profile {
    position: relative;
    width: 900px;
    height: 80px;
    top: 20px;
    background-color: #ccc;
    z-index: 1105;
    border-radius: 5px;
}

.photo_prof {
    position: relative;
    width: 160px;
    height: 160px;
    background-color: #8A8A8A;
    top: -40px;
    float: right;
    right: 160px;
    border-radius: 160px;
}

.bg_photo_prof {
    position: relative;
    top: 10px;
    left: 10px;
    width: 140px;
    height: 140px;
    background-color: #cccccc;
    border-radius: 140px;
}

.bg_photo_prof img {
    top: 0;
    left: 0;
    width: 140px;
    height: 140px;
    border-radius: 140px;
}

.text_name_prof {
    position: relative;
    width: calc(100% - 320px);
    font-size: 40px;
    color: #0070C0;
    font-family: "Roboto light";
    text-align: center;
    top: 10px;
}

.about_prof {
    width: 900px;
    margin: 80px 0 0 0;
    min-height: calc(100% - 180px);
    font-family: "Roboto light";
    text-align: center;
}

.block_of_organizations {
    position: relative;
    width: 100%;
}

.parag_block_orgs {
    font-size: 30px;
    margin-bottom: 20px;
}

.blocks_orgs {
    position: absolute;
    width: 100%;
    min-height: 450px;
    height: 450px;
    font-size: 20px;
    overflow-x: auto;
    display: flex;
    flex-direction: row;
}

.orgs_block {
    position: relative;
    display: inline-block;
    min-width: 200px;
    height: 100%;
    text-align: center;
    margin: 0 15px;
}

.parag_org_block {

}

.parag_org_block_down_line {
    position: relative;
    width: 100%;
    height: 3px;
    margin-top: 10px;
    background-color: #595959;
}

.orgs_line_vert {
    position: absolute;
    top: 0;
    right: -16px;
    width: 2px;
    height: 100%;
    background-color: #595959;
    opacity: 0.3;
}

.orgs_contr_block {
    position: relative;
    display: inline-block;
    width: 160px;
    height: 100%;
    text-align: center;
    margin: 0 15px;
}

.parag_org_contr_block {
    width: 160px;
}

.contr_prg {
    position: relative;
    min-width: 150px;
    width: 150px;
    font-size: 24px;
    margin: 0 10px
}

.cntr_cntr_org {
    position: relative;
    min-width: 150px;
    width: 150px;
    font-size: 20px;
    margin: 10px 10px;
}

.contr_org {
    position: relative;
    width: 150px;
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 10px 0 10px 0;
}

.compl_org,
.post_org,
.reject_org {
    width: 40px;
    height: 40px;
    background-color: #0070C0;
    color: #fff;
    text-align: center;
    border-radius: 40px;
    padding-top: 5px;
    margin: 0 5px;
    cursor: pointer;
    transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
}

.compl_org:hover,
.post_org:hover,
.reject_org:hover {
    background-color: #8A8A8A;
}

.compl_org:before,
.compl_org:after {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

.compl_org:before {
    content: attr(data-tooltip);
    color: #0070C0;
    width: 140px;
    height: 40px;
    line-height: 40px;
    background: #ccc;
    border-radius: 5px;
    bottom: 50px;
    left: -45px;
}

.compl_org:after {
    content: "";
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: #ccc;
    bottom: 30px;
    left: 15px;
}

.compl_org:hover:before,
.compl_org:hover:after {
    opacity: 0.9;
    visibility: visible;
    transition: .2s ease-in-out .4s;
}

.post_org:before,
.post_org:after {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

.post_org:before {
    content: attr(data-tooltip);
    color: #0070C0;
    width: 140px;
    height: 40px;
    line-height: 40px;
    background: #ccc;
    border-radius: 5px;
    bottom: 50px;
    left: 5px;
}

.post_org:after {
    content: "";
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: #ccc;
    bottom: 30px;
    left: calc(50% - 12.5px);
}

.post_org:hover:before,
.post_org:hover:after {
    opacity: 0.9;
    visibility: visible;
    transition: .2s ease-in-out .4s;
}

.reject_org:before,
.reject_org:after {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

.reject_org:before {
    content: attr(data-tooltip);
    color: #0070C0;
    width: 140px;
    height: 40px;
    line-height: 40px;
    background: #ccc;
    border-radius: 5px;
    bottom: 50px;
    left: 55px;
}

.reject_org:after {
    content: "";
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: #ccc;
    bottom: 30px;
    left: 115px;
}

.reject_org:hover:before,
.reject_org:hover:after {
    opacity: 0.9;
    visibility: visible;
    transition: .2s ease-in-out .4s;
}

/* ---> profile end <--- */

/* ---> <--- */
/* ---> end <--- */